.grid {
    display: grid;
    width: 600px;
    height: 200px;
    position: absolute;
    top: 40px;
    left: 300px;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.sqr-tan {
    background-color: #b5915f;
}

.sqr-brown {
    background-color: #441a03;
}

.sqr-tan:hover {
    background-color: lightblue;
}

.sqr-red:hover {
    background-color: lightblue;
}

#box {
    position: absolute;
    top: 35px;
    left: 295px;
    background: black;
    width: 685px;
    height: 685px;
}

#redPiece {
    background: #ff0000;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#blackPiece {
    background: #000000;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}